DJANGO_SECRET_KEY=dev-secret-change-me
DEBUG=true
ALLOWED_HOSTS=*

DATABASE_URL=postgresql://neondb_owner:npg_nOivuq5lAXG2@ep-snowy-hall-adkmahnr-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


CORS_ALLOW_ALL_ORIGINS=true
CSRF_TRUSTED_ORIGINS=

WEB3_POA_RPC_URL=
ETHEREUM_PUBLIC_RPC_URL=
CONTRACT_ADDRESS_PRIVATE=
CONTRACT_ADDRESS_PUBLIC=
IPFS_API_URL=http://127.0.0.1:5001
IPFS_GATEWAY_URL=http://127.0.0.1:8080/ipfs

# JWT lifetimes (minutes/days)
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
